footer {
  position: relative;
  bottom: 0;
  height: 5vh;
  width: 100%;
  background-color: #ffc266d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1rem;
}

.footer-make {
  width: 60%;
  justify-content: start;
}

.footer-make p {
  color: #2d2d2d;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
}

.footer-make a {
  color: #2d2d2d;
  padding: 0.5rem;
}

.footer-make a:hover {
  color: #ffab66c0;
  background-color: #464646;
  padding: 0.5rem;
  transition: 0.5s ease-in-out;
}

.footer-menu {
  width: 30%;
}

.footer-menu a {
  color: #2d2d2d;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  margin: 3rem;
  padding: 0.5rem;
}

.footer-menu a:hover {
  color: #ffab66c0;
  background-color: #464646;
  transition: 0.5s ease-in-out;
}
