body {
  background-color: #2d2d2d;
  color: #ffc266;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 66vh;
}

.hanglejatszo {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#myProgress {
  background-color: #d9d9f2;
  cursor: pointer;
  border-radius: 20rem;
  margin: 2rem 20rem;
}

#myBar {
  width: 0%;
  height: 0.313rem;
  background-color: #ffc266;
  border-radius: 10px;
}

.logo {
  fill: red;
}

.btn-action {
  cursor: pointer;
  padding-top: 0.625rem;
  width: 1.875rem;
}

.btn-ctn,
.infos-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infos-ctn {
  padding-top: 1.25rem;
  margin: 0.625rem;
  display: flex;
  justify-content: space-around;
  font-family: "Play", sans-serif;
  text-transform: none;
}

.btn-ctn > div {
  padding: 0.313rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
}

.infos-ctn > div {
  margin-bottom: 0.5rem;
  color: #ffc266;
}

.first-btn {
  margin-left: 3rem;
}

.duration {
  margin-left: 0.625rem;
  font-size: 1.6rem;
}

.title {
  margin-left: 0.625rem;
  text-align: center;
  font-size: 1.6rem;
}

.timer {
  font-size: 1.6rem;
}

.player-ctn {
  border-radius: 15px;
  width: 70%;
  padding: 0.625rem;
  background-color: #373737;
  margin: auto;
  margin-top: 2rem;
}

.playlist-track-ctn {
  display: flex;
  background-color: #464646;
  margin-top: 0.188rem;
  border-radius: 0.313rem;
  cursor: pointer;
  font-family: "Play", sans-serif;
  text-transform: none;
  font-size: 2rem;
}
/*.playlist-track-ctn:last-child {
  border: 1px solid #ffc266;
}*/

.playlist-track-ctn > div {
  margin: 0.625rem;
}
.playlist-info-track {
  width: 80%;
}
.playlist-info-track,
.playlist-duration {
  padding-top: 0.438rem;
  padding-bottom: 0.438rem;
  color: #e9cc95;
  font-size: 1.4rem;
  pointer-events: none;
}
.playlist-ctn {
  padding-bottom: 1.25rem;
}
.active-track {
  background: #4d4d4d;
  color: #ffc266 !important;
  font-weight: bold;
}

.active-track > .playlist-info-track,
.active-track > .playlist-duration,
.active-track > .playlist-btn-play {
  color: #ffc266 !important;
}

.playlist-btn-play {
  pointer-events: none;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
}
.fas {
  color: #ffc266;
  font-size: 1.25rem;
}
