.interjuk-left-main {
  background-color: #373737;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding-top: 3rem;
}

.interjuk-left-content {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: #e2ad5f;
  border-radius: 25px;
  padding: 2rem;
}

.interjuk_icon {
  //width: calc(var(--base-grid) * 15);
  //height: calc(var(--base-grid) * 9);
  //transition: all 0.3s ease-in-out;
  //fill: var(--colour-black);
  width: 7vw;
  height: auto;
  margin: auto;
  padding-top: 2rem;
}

.kritika-main-icon {
  //width: calc(var(--base-grid) * 15);
  //height: calc(var(--base-grid) * 9);
  //transition: all 0.3s ease-in-out;
  //fill: var(--colour-black);
  width: 6vw;
  height: auto;
  margin: auto;
  padding-top: 2rem;
}

.esvita-main-icon {
  //width: calc(var(--base-grid) * 15);
  //height: calc(var(--base-grid) * 9);
  //transition: all 0.3s ease-in-out;
  //fill: var(--colour-black);
  width: 6vw;
  height: auto;
  margin: auto;
  padding-top: 2rem;
}

.tanulmanyok-main-icon {
  //width: calc(var(--base-grid) * 15);
  //height: calc(var(--base-grid) * 9);
  //transition: all 0.3s ease-in-out;
  //fill: var(--colour-black);
  width: 6vw;
  height: auto;
  margin: auto;
  padding-top: 2rem;
}

.interjuk-left-title {
  color: #2d2d2d;
  letter-spacing: 0.2rem;
  font-family: "Play", sans-serif;
  text-transform: none;
  margin: 0 2rem;
  max-width: 14vw;
}

.tanulmanyok-left-title {
  color: #2d2d2d;
  letter-spacing: 0.2rem;
  font-family: "Play", sans-serif;
  text-transform: none;
  margin: 0 2rem;
  max-width: 14vw;
}

.esvita-left-title {
  color: #2d2d2d;
  letter-spacing: 0.2rem;
  font-family: "Play", sans-serif;
  text-transform: none;
  margin: 0 2rem;
  max-width: 14vw;
}

.interju-main {
  border-radius: 25px;
  width: 70%;
  padding: 2rem;
  background-color: #373737;
  margin: auto;
  margin-top: 2rem;
}

.interju-list {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.interju-main li {
  background-color: #464646;
  border-radius: 25px;
  margin-bottom: 1.5rem;
}

.interju-main li:hover {
  background-color: #4646467a;
  border-bottom: 1px solid #ffc266;
}

.interju-list-icon {
  width: 5vw;
}

.interjuk_icon2 {
  //width: calc(var(--base-grid) * 15);
  //height: calc(var(--base-grid) * 9);
  //transition: all 0.3s ease-in-out;
  //fill: var(--colour-black);
  width: 5vw;
  height: auto;
  margin: auto;
  margin-right: 3rem;
}

.interju-list-text {
  padding-left: 3.2rem;
}

.interju-list-title {
  font-family: "Play", sans-serif;
  text-transform: none;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  text-align: left;
  font-size: 2.2rem;
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: #ffc266;
}

.interju-list-dec {
  color: #ffab66c0;
  font-size: 1.8rem;
  text-align: left;
  line-height: 3rem;
  padding: 0;
  font-family: "Play", sans-serif;
  text-transform: none;
}

.interju-list-cit {
  font-family: "Play", sans-serif;
  text-transform: none;
  text-align: left;
  line-height: 2.6rem;
  font-size: 1.6rem;
  padding-left: 2rem;
}
