.karakterek-main-content {
  height: auto;
  width: 90%;
  margin: auto;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.karakterek-title {
  font-size: 3.4rem;
  text-align: center;
  font-family: "Kelly Slab", cursive;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 2vh;
  letter-spacing: 0.2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: auto;
  color: #ffab66c0;
}

.karakterek-title::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.1px;
  border-width: 0 0 2px;
  border-style: solid;
  color: #ffc266;
  margin: auto;
}

.jatek-hero {
  height: auto;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.karakter-container-hesz {
  background: #464646;
  width: auto;
  height: auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  display: flex;
}

.karakter-logo-hesz {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/heszjancsi.png);
  background-size: cover;
  border-radius: 50%;

  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-beres {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/beres.png);
  background-size: cover;
  border-radius: 50%;

  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-piroska {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/piroskaneni.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-vegsomarton {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/vegsomarton.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-vidabacsi {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/vidabacsi.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-misi {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/misi.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-pappterka {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/pappterka.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-dorogi {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/dorogi.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-logo-sudák {
  width: 180px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/jatek/sudák.png);
  background-size: cover;
  border-radius: 50%;
  shape-outside: circle();
  margin: 30px 20px 30px 0;
  box-shadow: -2px 2px 400px #808080;
  transform: translate(-70%, -10%);
}

.karakter-h1 {
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  transform: translateX(-85px);
  margin-top: 2rem;
  padding: 0;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.karakter-h3 {
  font-family: "Play", sans-serif;
  text-transform: none;
  font-size: 2rem;
  font-weight: normal;
  transform: translateX(-85px);
  margin: 0 0 20px;
  padding: 0;
}

.karakter-bio {
  transform: translateX(-95px);
  font-family: "Play", sans-serif;
  text-transform: none;
  padding-bottom: 2rem;
  margin: 0;
  text-align: justify;
  line-height: 28px;
}

.karakter-social {
  display: grid;
  line-height: 2.5;
  transform: translate(260px, -190px);
  width: 40px;
}
.karakter-s-btn {
  color: black;
}
