.norajon {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 5vh;
  background-color: #464646fb;
  display: block;
  position: relative;
  background: url(../img/tarmuvekbg1.png);
  background-size: contain;
  background-position: top;
}

/*.norajon::after {
  content: "";
  background: url(../img/bio/fenykepesz2.jpg);
  opacity: 0.08;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}*/

.norajon-title {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.norajon h1 {
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
  color: #ffab66c0;
  width: max-content;
}

.norajon-title a {
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  position: relative;
  color: #ffab66c0;
  width: max-content;
}

.norajon-title a:hover {
  color: #ffc266;
}

.norajon h2 {
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: inline-block;
  position: relative;
  color: #ffab66c0;
  width: max-content;
}

.norajon a::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0.1px;
  border-width: 0 0 2px;
  border-style: solid;
  color: #ffc266;
  margin: auto;
}

.norajon p {
  text-align: left;
  padding-top: 3vh;
  line-height: 3.4rem;
  font-family: "Play", sans-serif;
  text-transform: none;
}

.norajon-title img {
  position: relative;
  width: 80%;
  margin: 5vh auto;
  border: 5px solid #2d2d2d;
}

#parbeszed {
  margin-left: 10vh;
  text-align: left;
  padding-top: 2vh;
  padding-bottom: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Play", sans-serif;
  text-transform: none;
}

.diary-date {
  font-size: 2.2rem;
  font-weight: bold;
}
