.bevezeto-text {
  padding-top: 4rem;
}

.bevezeto-text p {
  font-family: "Play", sans-serif;
  text-transform: none;
  text-align: left;
}

.bevezeto-text a {
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  color: #ffab66c0;
}

.bevezeto-text a:hover {
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;
  color: #ffc266;
}
