@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");

canvas {
  margin: 0;
  padding: 0;
}

.timer-container {
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 5vh auto;
  background-color: #464646;
  border-radius: 25px;
}

.hidden {
  display: none;
}

.timer {
  padding: 2rem;
  width: 90%;
  margin: auto;
}
.timer__header {
  display: flex;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  justify-content: space-between;
}
.timer__buttons {
  align-items: center;
}

.timer__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer__input {
  width: auto;
  font-size: 80px;
  color: white;
  text-align: center;
  padding: 2rem 2rem 2rem 4rem;
}

.timer__caret {
  width: auto;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.timer__canvas {
  text-align: center;
}
.timer__footer {
  text-align: center;
  color: rgba(170, 167, 185, 0.5);
}

canvas {
  display: inline;
}

/* buttons */
.timer-btn {
  font-size: 2.4rem;
  border: none;
  background: transparent;
  border-radius: 5px;
  color: #ffab66c0;
  margin-top: 0rem;
  font-family: "Kelly Slab", cursive;
  text-transform: uppercase;

  cursor: pointer;
}
.timer-btn--restart {
  color: rgba(255, 255, 255, 0.2);
}
.timer-btn__svg {
  width: 20px;
  height: auto;
}
.timer-btn__svg,
.timer-btn__svg > path {
  fill: currentColor;
}

/* Hide number input arrows, because they're ugly */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
