.current {
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  color: #ffab66c0;
}

.current:after {
  content: "";
  width: 95%;
  position: absolute;
  left: 0;
  bottom: 0.1px;
  border-width: 0 0 2px;
  border-style: solid;
  color: #ffc266;
}

#underline {
  display: inline-block;
  padding: 5px 15px;
  position: relative;
}
#underline:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffc266;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#underline:hover:after {
  width: 95%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
