* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 62.5%;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "hang";
@import "header";
@import "gallery";
@import "footer";
@import "maingallery";
@import "underline";
@import "hero";
@import "eletut";
@import "muvek";
@import "norajon";
@import "bakelit";
@import "impresszum";
@import "tarrol";
@import "interjuk";
@import "burgermenu";

/* MEDIA QUERIES */

/* HOME PAGE */

@media screen and (max-width: 1462px) {
  .footer-menu {
    width: 40%;
  }
}

@media screen and (max-width: 1396px) {
  nav {
    width: 95%;
  }

  .typewriter h1 {
    font-size: 4rem;
  }

  .typewriter h2 {
    font-size: 3rem;
  }

  .typewriter h3 {
    font-size: 2.8rem;
  }

  .typewriter a {
    font-size: 2.8rem;
  }

  #logo {
    flex: 1 1 5rem;
  }
}

@media screen and (max-width: 1270px) {
  /*main {
    min-height: 76.68vh !important;
  }*/

  .main-logo {
    height: 18vh;
    padding: 1.5rem;
  }

  nav ul li a {
    font-size: 2.6rem;
  }

  .typewriter h1 {
    font-size: 3.4rem;
  }

  .typewriter h2 {
    font-size: 2.8rem;
  }

  .typewriter h3 {
    font-size: 2.6rem;
  }

  .typewriter a {
    font-size: 2.6rem;
  }

  footer {
    position: fixed;
  }
}

@media screen and (max-width: 1120px) {
  #logo {
    flex: 1 1 1rem;
  }

  .main-logo {
    height: 13vh;
    padding: 1.5rem 1rem;
  }

  nav ul li a {
    font-size: 2rem;
  }

  .typewriter h1 {
    font-size: 3rem;
  }

  .typewriter h2 {
    font-size: 2.2rem;
  }

  .typewriter h3 {
    font-size: 2rem;
  }

  .typewriter a {
    font-size: 2rem;
  }

  .footer-make p {
    font-size: 1.2rem;
  }

  .footer-menu a {
    font-size: 1.2rem;
  }

  footer {
    flex-wrap: wrap;
    height: min-content;
  }

  .footer-make {
    width: 100%;
  }
  .footer-menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: min-content;
  }

  .footer-menu a {
    margin: 0rem 3rem 1rem 3rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    min-height: 50vh !important;
  }

  .typewriter {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
  }

  .typewriter h1 {
    margin: 4vh 0vh 2vh 5vh;
  }

  .typewriter h2 {
    margin: 2vh 0vh 2vh 10vh;
  }

  .typewriter h3 {
    margin: 2vh 0vh 2vh 15vh;
  }

  .footer-make p {
    font-size: 1.2rem;
  }

  .footer-menu a {
    font-size: 1.2rem;
  }

  footer {
    flex-wrap: wrap;
    height: min-content;
  }
}

.burger-container {
  display: none;
}

@media screen and (max-width: 574px) {
  main {
    height: fit-content !important;
  }

  #main-nav {
    display: none;
  }

  .main-logo {
    height: 20vh;
    padding: 1.5rem 2rem;
  }

  /* ------------------------------------------------*/
  /* ---- BURGER NAV ---*/

  .burger-container {
    display: block;
  }

  /* ---- BURGER NAV END ---*/
  /* ------------------------------------------------*/

  .typewriter {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
  }

  .typewriter h1 {
    font-size: 2.6rem;
  }

  .typewriter h2 {
    font-size: 2rem;
  }

  .typewriter h3 {
    font-size: 1.8rem;
  }

  .typewriter a {
    font-size: 1.8rem;
  }

  .footer-make p {
    font-size: 1rem;
  }

  .footer-menu a {
    font-size: 1rem;
  }

  footer {
    flex-wrap: wrap;
    height: min-content;
  }

  .footer-make {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 502px) {
  .typewriter {
    width: 90%;
    margin: auto;
    padding-top: 5rem;
  }

  .typewriter h1 {
    font-size: 2.2rem;
    margin: 2vh 0vh 2vh 2vh;
  }

  .typewriter h2 {
    font-size: 1.6rem;
    margin: 2vh 0vh 2vh 5vh;
  }

  .typewriter a {
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .typewriter h3 {
    font-size: 1.4rem;
    margin: 2vh 0vh 2vh 8vh;
  }

  .footer-make p {
    font-size: 1rem;
  }

  .footer-menu a {
    font-size: 1rem;
  }

  .impresszum-link {
    display: none;
  }
}

/* -----------------------------------------------------------------*/
/* ---------------- ÉLETÚT MEDIA QUERY START ------------------------*/

@media screen and (max-width: 770px) {
  .timeline {
    max-width: 90%;
  }

  .timeline-item:before {
    left: -10px !important;
    font-size: 1.5rem;
  }

  .timeline__content-title {
    font-size: 5rem;
    padding-top: 3.5vh;
  }

  .timeline__content-desc {
    font-size: 1.6rem;
  }
}

/* ---------------- ÉLETÚT MEDIA QUERY END ------------------------*/
/* -----------------------------------------------------------------*/

/* -----------------------------------------------------------------*/
/* ---------------- MÜVEK MAIN MEDIA QUERY START ------------------------*/

@media screen and (max-width: 1700px) {
  .links__list2 {
    width: 90%;
  }
}

@media screen and (max-width: 1300px) {
  :root {
    --base-grid: 0.9rem;
  }
}

@media screen and (max-width: 1050px) {
  .links__list2 {
    justify-content: space-around;
    align-items: center;
    width: 95%;
  }

  .links__item {
    margin: 2rem;
  }

  :root {
    --base-grid: 0.8rem;
  }

  .hero {
    height: auto;
    overflow: scroll;
    padding-bottom: 5vh;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    height: auto;
    overflow: scroll;
    padding-bottom: 5vh;
  }
  .links__text {
    display: block;
    font-size: calc(var(--base-grid) * 1.8);
    padding-top: 0.5vh;
  }

  .links__link::after {
    opacity: 1;
  }
}

/* ---------------- MŰVEK MEDIA QUERY END ------------------------*/
/* -----------------------------------------------------------------*/

/* -----------------------------------------------------------------*/
/* ---------------- MÜVEK SUB MEDIA QUERY START ------------------------*/

@media screen and (max-width: 1606px) {
  .component {
    width: 90%;
  }

  #book1 {
    width: 95%;
    padding-left: 6rem;
    padding-right: 0;
  }

  #book1::after {
    left: 3vw;
  }

  figcaption {
    position: absolute;
    width: 68vw;
  }

  .component {
    height: auto;
    padding-bottom: 10vh;
  }
}

@media screen and (max-width: 1182px) {
  .component {
    height: auto;
    padding-bottom: 10vh;
  }

  .book {
    width: 120px;
    height: 180px;
  }

  .btn {
    margin-top: 5.5rem;
    margin-left: 1rem;
  }

  .book a {
    font-size: 1.6rem;
  }

  figcaption {
    padding-left: 1.5rem;
    padding-right: 15vh;
  }

  figcaption p {
    padding: 0 !important;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 810px) {
  .component {
    margin-top: 2rem;
  }

  #book1 {
    padding-left: 5rem;
  }

  .book {
    width: 100px;
    height: 160px;
  }

  .btn {
    margin-top: 4.5rem;
    margin-left: 1rem;
  }

  .book a {
    font-size: 1.4rem;
    text-transform: none;
  }

  figcaption {
    padding-left: 0rem;
    padding-right: 12vh;
  }

  figcaption p {
    padding: 0 !important;
    font-size: 1.6rem;
  }
  #book1::after {
    bottom: -3rem;
  }
}

@media screen and (max-width: 648px) {
  .component {
    margin-top: 2rem;
  }

  .align {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    padding-bottom: 10vh;
    padding-top: 0;
  }

  #book1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 5vh;
    padding: 3rem 0 !important;
    height: auto;
  }

  #book1::after {
    display: none;
  }

  .book {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  figcaption {
    width: 65vw;
    left: 13rem;
    top: 0;
  }
}

@media screen and (max-width: 606px) {
  .component {
    margin-top: 2rem;
  }

  .align {
    padding-top: 0rem;
  }

  .align > li {
    min-height: unset;
  }

  .book {
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 534px) {
  .hardcover_front {
    display: none;
  }

  .book_spine {
    display: none;
  }

  .page {
    display: none;
  }

  .hardcover_back {
    display: none;
  }

  .book_spine {
    display: none;
  }

  figcaption {
    width: 95vw;
    left: -5vw;
    margin: auto;
    height: auto;
  }

  figcaption p {
    padding-bottom: 2rem !important;
  }

  .book-btn {
    display: block;
    position: relataive;
  }
}

/* ---------------- MŰVEK SUB MEDIA QUERY END ------------------------*/
/* -----------------------------------------------------------------*/
