* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 62.5%;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "hang";
@import "header";
@import "gallery";
@import "footer";
@import "maingallery";
@import "underline";
@import "hero";
@import "eletut";
@import "muvek";
@import "norajon";
@import "bakelit";
